.card {
  background-color: rgba(16.000000946223736, 24.000000469386578, 32.00000189244747, 1);
  width: 255px;
  height: 239px;
  border-radius: 24px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}

.content {
  width: 218px;
  height: 104px;
  position: absolute;
  left: 24px;
  top: 0px;
}

.title {
  color: rgba(255, 255, 255, 1);
  width: 218px;
  height: 72px;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  font-size: 22px;
  letter-spacing: -0.5;
  line-height: px;
}

.description {
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: 72px;
  position: absolute;
  left: 0px;
  top: 52px;
  text-align: left;
  font-size: 16px;
  letter-spacing: -0.5;
  line-height: px;
}


.icon-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-10%);
}

.icon-container img {
  max-width: 100%;
  width: 158px;
  height: auto;
}